.weather-container {
  padding-top: 2em;
  text-align: -webkit-center;
}

.weather-main {
  width: 40vw !important;
}

@media (max-width: 768px) {
  .weather-main {
    width: 60vw !important;
  }
}

@media (max-width: 390px) {
  .weather-main {
    width: 90vw !important;
  }
}
